GameConfig(
    window_size: (800, 600),
    window_title: "P4 - Minesweeper, Taylor Hiatt",
    

    board_size: Vec2D(
        x: 25,
        y: 16
    ),
    mine_count: 25,

    key_bindings: {
        "Escape": Exit,

    },

    assets: [
        // Tile assets
        (name: "tile_hidden", path: "./data/images/tile_hidden.png"),
        (name: "tile_revealed", path: "./data/images/tile_revealed.png"),
        (name: "flag", path: "./data/images/flag.png"),
        (name: "mine", path: "./data/images/mine.png"),
        (name: "num_1", path: "./data/images/number_1.png"),
        (name: "num_2", path: "./data/images/number_2.png"),
        (name: "num_3", path: "./data/images/number_3.png"),
        (name: "num_4", path: "./data/images/number_4.png"),
        (name: "num_5", path: "./data/images/number_5.png"),
        (name: "num_6", path: "./data/images/number_6.png"),
        (name: "num_7", path: "./data/images/number_7.png"),
        (name: "num_8", path: "./data/images/number_8.png"),

        // Ui assets

        (name: "debug", path: "./data/images/debug.png"),
        (name: "digits", path: "./data/images/digits.png"),
        (name: "face_happy", path: "./data/images/face_happy.png"),
        (name: "face_lose", path: "./data/images/face_lose.png"),
        (name: "face_win", path: "./data/images/face_win.png"),
        (name: "test_1", path: "./data/images/test_1.png"),
        (name: "test_2", path: "./data/images/test_2.png"),
        (name: "test_3", path: "./data/images/Test_3.png"),
    ]
)